body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.container{
    margin: 30px;
    border: 11px double #8c4343;
    background-color: #f2f2f2;
    border-radius: 5px;
    width:50%;
    padding: 8px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    
}
.container:hover{
    box-shadow: 3px -7px 70px 3px rgba(57,45,45,0.49);
    -webkit-box-shadow: 3px -7px 70px 3px rgba(57,45,45,0.49);
    -moz-box-shadow: 3px -7px 70px 3px rgba(57,45,45,0.49);
}
.hello{
    display: flex;
    justify-content: center;
    
}
.paymentform{
    text-align: center;
}
.vaibhav{
    width: 99.2%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
}
fieldset{
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.location{
    padding: 10px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.bgv{
    width: 99.2%;
    height: 30px;
    background-color: #4eada1;
    border: 0ch;
    border-radius: 3px;
    height: 40px;
    color: white;
}
.bgv:hover{
  background-color: cadetblue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
}
.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.searchbar{
    padding: 10px;
    border-radius: 5px;
    margin-right: 2px;
}
.hehe{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    background-color: black;
    color: cornsilk;
    margin-left: 5px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}
.login:hover{
    background-color: darkgray;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.main-nav {
    list-style-type: none;
    display: none;
}
.active {
    display: block;
  }
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

@media (max-width: 800px) {
    
    .hello{
        display: block;
    }
    .container{
        width: 90%;
    }
    .vaibhav{
        width: 100%;
    }
    .hello{
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}