<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment_form</title>
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <h2>Register Here</h2>
            <ul>
                <li><a href="/">Form</a></li>
                <li><a href="/people">People</a></li>
                <li><a href="/people/singleid">Search</a></li>
            </ul>
        </nav>
    </header>
    <div class="hello">
        <div class="container">
            <form action="/people/submitted" method="POST">
                <h1 class="paymentform">Registeration form</h1>
                <hr><hr>
                <h2>Contact information</h2>
                <p>
                    Name:
                    <br>
                    <input type="text" style="width:50%;display: flex;justify-content: center;" class="vaibhav" name="name" required
                        placeholder="Enter your name">
                </p>
                <fieldset style="width:50%">
                    <legend>Gender</legend>
                    Male <input type="radio" name="gender" value="Male" required><br>
                    Female <input type="radio" name="gender" value="Female" required>
                </fieldset>
                <p>
                    Place of Residence:
                    <br>
                    <textarea class="location" style="width:50%; display: flex;justify-content: center;" name="address" required
                        placeholder="Enter your location"></textarea>
                </p>
                <p>
                    Email:
                    <br>
                    <input type="email" class="vaibhav" style="width:50%" name="email" required
                        placeholder="Enter your email.id">
                </p>
                <p>
                    Class:
                    <br>
                    <input type="text" class="vaibhav" style="width:50%;display: flex;justify-content: center;" name="class" required
                        placeholder="Enter class">
                </p>
                <p>
                    <br>
                    <input type="submit" class="bgv" style="width:50%;display: flex;justify-content: center;" value="Submit">
                </p>
            </form>
        </div>
    </div>
</body>

</html>