<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment_form</title>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="brand-title">Welcome</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Logout</a></li>
                    <li><a href="/main">Home</a></li>
                    <li><a href="/people">People</a></li>
                    <li><a href="/people/singleid">Search</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <script>

        const toggleButton = document.getElementsByClassName('toggle-button')[0]
        const navbarLinks = document.getElementsByClassName('navbar-links')[0]

        toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active')
        })

    </script>
    <div style="margin-left: 20px;margin-right: 20px;">
        <h1>
            Welcome <%= person.name%>,
        </h1>
        <h4>
            <%= person.location%> is really lucky to have you in it...
        </h4>
        </body>
        <footer>
            <div style="display: flex;">
                <h3>This is Gopi Vaibhav who took your information</h3><img src="/cruel.svg"
                    style="margin-left:5px;width:35px" alt="cruel">
            </div>
        </footer>
    </div>
</html>