<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment_form</title>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="brand-title">Tq for Registering</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Login</a></li>
                    <li><a href="/people/main">Home</a></li>
                    <li><a href="/people">People</a></li>
                    <li><a href="/people/singleid">Search</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <script>

        const toggleButton = document.getElementsByClassName('toggle-button')[0]
        const navbarLinks = document.getElementsByClassName('navbar-links')[0]

        toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active')
        })

    </script>
    <div style="margin-left: 20px;margin-right: 20px;">
        <div style="display: flex;">
            <h1>Our Website contain Nothing</h1>
            <img src="/sad.svg" style="width:35px"alt="sad">
        </div>
        <div style="display: flex;">
            <h4>But Thanks for giving your information. I am going to misuse it </h4>
            <img src="/cruel.svg" style="margin-left:5px;width:35px"alt="cunning">
        </div>
        
        <h5>Just Kidding :)</h5>
        <hr>
        <div>
            <h4>You can check details of all people registered in my website in "People" section or you can search for them in "Search" section</h4>
        </div>
        <div>
            <h5>I just revealed their Birthday and location but not their mail Ids and passwords</h5>
        </div>
    </div>
    
</body>

</html>