<head>
    <title>SignIn</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="hello">
        <div class="container">
            <form action="/signin" method="POST">
                <h1 class="paymentform">Create Account</h1>
                <hr><hr>
                <p>
                    Name:
                    <br>
                    <input type="text" style="width:50%;display: flex;justify-content: center;" class="vaibhav" name="name" required
                        placeholder="Enter your name">
                </p>
                <p>
                    Date of birth:
                    <br>
                    <input type="text" style="width:50%;display: flex;justify-content: center;" class="vaibhav" name="dob" required
                        placeholder="In dd/mm/yyyy format">
                </p>
                <p>
                    Place of Residence:
                    <br>
                    <input type="text" style="width:50%;display: flex;justify-content: center;" class="vaibhav" name="location" required
                        placeholder="Enter your location">
                </p>
                <p>
                    Email:
                    <br>
                    <input type="email" class="vaibhav" style="width:50%" name="email" required
                        placeholder="Enter your email.id">
                </p>
                <p>
                    Password:
                    <br>
                    <input type="text" style="width:50%;display: flex;justify-content: center;" class="vaibhav" name="password" required
                        placeholder="Enter your password">
                </p>
                <p>
                    <button class="bgv" style="width:25%" type="submit">Signin</button>
                    <a href="/" class="login">Login</a>
                </p>
            </form>
        </div>
    </div>
</body>