<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
    <title>Single Person</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="brand-title">Stay Fit</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Login</a></li>
                    <li><a href="/people/main">Home</a></li>
                    <li><a href="/people">People</a></li>
                    <li><a href="/people/singleid">Search</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <script>

        const toggleButton = document.getElementsByClassName('toggle-button')[0]
        const navbarLinks = document.getElementsByClassName('navbar-links')[0]

        toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active')
        })

    </script>
    <div style="margin-left: 20px;margin-right: 20px;">
        <h2 style="display: flex;justify-content:center;text-shadow: 8px 8px 10px rgba(145, 156, 161, 1);">
            This is a Case Sensitive search
        </h2>
        <form action="/people/singleid" method="get">
        <div class="hehe"style="margin-top:40px ;">
                <input type="text" class="searchbar"name="name" placeholder="search by name" >
                <button type="submit" style="background-color: black; color:cornsilk;padding:7px;border-radius: 10px;">
                    <img src="/searchbut.svg" alt="search">
                </button>
            </div>
        </form>
        <br>
        <table style="width:100%">
            <tr style="background-color: black; color:cornsilk;">
                <th style="padding:2.5px; width: 20%;" rowspan="1">Name</th>
                <th style="padding:2.5px; width: 20%;" rowspan="1">Date of Birth</th>
                <th style="padding:2.5px; width: 20%;" rowspan="1">Resident location</th>
              </tr>
            <% persons.forEach(i=>{ %>
            <tr>
              <td><%= i.name %></td>
              <td><%= i.dob %></td>
              <td><%= i.location %></td>
            </tr> 
            <% }) %>
        </table>
    </div>
</body>
</html>